@font-face {
    font-family: 'obelixpro';
    src: url('../fonts/obelixprob-cyr-webfont.woff2') format('woff2'),
         url('../fonts/obelixprob-cyr-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}